@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Assure que le body prend toute la hauteur de la page */
  background-color: #E5D0AC; /* Appliquer la couleur de fond ici */
  font-family: "Montserrat", sans-serif;
  color: white; /* Assurer que le texte est bien blanc */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #5A1E1E; /* Ajout d'une couleur de fond pour le header */
}

.logo {
    cursor: pointer;
    width: 120px; /* Ajuste la taille si nécessaire */
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacement entre les éléments */
}

.nav_links li {
    display: inline;
}

.nav_links a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav_links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}